:root {
    --background-image:  url("/static/img/DarkBack.jpg"); 
    --sidebarBackground: url("/static/img/xdocside.jpg");

    --PDLBlue: #1e90ff;
    --TopBarHeight:74px; 

    --sideBarWidth: 5vw;
}

@font-face {
    font-family: "Oliciy";
    src: url("/static/fonts/Oliciy.ttf"); 
}

body {
    background-color: black;
    color:white;
}

.main-navbar {
    font-size: 1.25em;
}

.navbar-title {
    font-size: 1.25em;
    color: white;
}

.navbar-search-container {
    margin-right:20px;
}

#navbar-search {
    width: 100%;;
}

.dropdown-menu {
    background-color: black;
}

.dropdown-menu a:hover {
    background-color: #303030;
}

#main-navbar-options a {
    color:white;
}

.notificationDropdownMenu {
    width:460px;
    left:-390px;
}

.notificationDropdownMenu::before {
  width: 0;
  height: 0;
  content: "";
  position: absolute;
  top:-15px;
  right:30px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 20px solid #343a40;
  z-index: -1;
}

.notificationDropdownMenu .head {
    padding:5px 15px;
    border-radius: 3px 3px 0px 0px;
    position:relative;
    margin-bottom:-10px;
    top:-10px;
}

.notificationDropdownMenu .notificationBody {
    max-height: 350px;
    overflow-y: auto;
    scrollbar-width: none;
}

.notificationDropdownMenu .notification-box {
    padding: 5px 15px;
}

.notificationDropdownMenu .footer {
    padding: 5px 15px;
    position:relative;
    top:10px;
    margin-top:-10px;
    border-radius: 0px 0px 3px 3px;
}

.notificationImg {
    position: relative;
    top:8px;
    left:-3px;
}

.notificationCardList {
    list-style-type:none;
}

.unreadItemIndicator {
    border-left: 4px solid green;
    padding-bottom: 16px;
}

.file-upload-button {
    display: block;
    position: relative;
    width: 64px;
    margin: 10px 0px 0px 0px;
    cursor: pointer;
    border: 0;
    height: 25px;
    border-radius: 5px;
    outline: 0;
    overflow: hidden;
}
.file-upload-button:hover:after {
    background: #5978f8;
}
.file-upload-button:after {
    transition: 200ms all ease;
    background: #0275d8;
    color: #fff;
    font-size: 16px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    content: 'Upload';
    line-height: 20px;
    border-radius: 2px;
}

.modal-content {
    background-color: #303030;
}

.jumbotron{
    background-color: #303030;
}

.card {
    background-color: #303030;
}

.popover-header {
    background-color: #303030;
    color: white;
}
.popover-body {
    background-color: #303030;
    color: white;
}

.card-cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 254px;
  height: 1.35em;
  white-space: nowrap;
}

.index-live-title {
    font-size:1.35em;
    width: 100%;
}

.index-video-title {
    font-size:1.35em;
    width: 100%;
}
.itemList {
    padding-left: 0;
}

.channelVideoCard {
  list-style-type:none;
  width: 700px;
}

.displayCard {
    width: 310px;
    margin-bottom:15px;
    list-style-type:none;
}

.displayCard a {
    color: black;
}

.displayCard .displayCard-thumbnail img {
    width: 310px;
    height: 175px;
    object-fit: contain;
    overflow: hidden;
    background-color: black;
}

.displayCard .video-badges {
  position: relative;
  top:30px;
  height: 30px;
  margin-top: -30px;
}

.displayCard .displayCard-counts {
  position: relative;
  background-color: rgba(40, 40, 40, 0.65);
  top:-25px;
  height:25px;
  margin-bottom:-25px;
}

.displayCard .displayCard-counts i {
  color:#1D60DB;
}

.displayCard .card-data {
    width:100%;
    margin-top:10px;
    font-size:1.15em;
    color: white;
}

.card-data img {
  width:48px;
  height:48px;
  float:left;
}

.card-data .metadata {
  float:left;
  position:relative;
  top:-18px;
  height:18px;
  margin-bottom:-18px;
}

.displayCard-other {
    width: 600px;
    margin-bottom:15px;
}

.displayCard-other a {
    color: black;
}

.displayCard-other img {
    width: 275px;
    height: 155px;
    object-fit: contain;
    overflow: hidden;
    background-color: black;
    float: left;
}

.displayCard-other .card-data {
    margin-left:18px;
    float: left;
    font-size:1em;
}

.displayCard-other .card-data .displayCard-footer {
    font-size:1em;
    position:relative;
    left: -10px;
    top: 40px;
}

.streamerCard {
    width: 600px;
    margin-bottom:15px;
    list-style-type:none;
}

.streamerCard a {
    color: white;
}

.streamerCard img {
    width: 175px;
    height: 175px;
    object-fit: contain;
    overflow: hidden;
    background-color: black;
    float: left;
}

.streamerCard .card-data {
    margin-left:15px;
    float: left;
    font-size:1.10em;
}

.streamerCard .card-data .streamerCard-footer {
    font-size:1em;
    position:relative;
    left: -10px;
    top: 45px;
}

.recordedStream {
    width:99%;
    display:block;
}

.channel-img{
    width:100%;
}

.dropzone {
    display: none;
}
.video-buttons-row {
    width: 100%;
}

.comment {
    width:100%;
}
.comment p{
    white-space: pre-wrap;
    margin-top: 1rem;
}
.comment hr{
    border-color: #aaa !important;
}
.comment img{
    margin-top: 1rem;
}
.videodescription p{
    white-space: pre-wrap;
}
.viewerText p{
    white-space: pre-wrap;
}

.videoStream {
        width:100%;
    }

.chatloader {
    display: none;
    padding: 30px;
}

.chatloader .chatloader-view {
    margin: 0 auto;
    width: 400px;
    text-align:center;
}

.chatPanel {
  display: none;
  flex-flow: column;
  height: calc(100vh - 170px);
}
.chatPanel .chatHeader {
  width:100%;
  flex: 0 1 auto;
}

.chatPanel .chatContent {
  flex: 1 1 500px;
  overflow-x:auto;
}

.chatPanel .chatContent .chatEntryContainer {
  z-index: 100;
}

.chatPanel .chatContent .chatEntryContainer .chatEntry {
  padding: 5px 10px 5px 10px;
  background-color: #262424;
  min-height: 56px;
  border-radius: 10px;
  margin: 5px;
}
.chatPanel .chatContent .chatEntryContainer .chatEntry .chatImage {
  width: 64px;
  display: inline-block;
}
.chatPanel .chatContent .chatEntryContainer .chatEntry .chatImage img {
  width: 48px;
  height: 48px;
}
.chatPanel .chatContent .chatEntryContainer .chatEntry .chatInfo {
}

.chatPanel .chatContent .chatEntryContainer .chatEntry .chatInfo .chatTimestamp {
  color: white;
}

.chatPanel .chatContent .chatEntryContainer .chatEntry .chatInfo .chatUsername {
  font-weight: bold;
}

.chatPanel .chatContent .chatEntryContainer .chatEntry .chatInfo .chatMessage {
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  word-wrap: break-word;
}

.chatPanel .chatFooter {
  flex: 0 1 75px;
}

.chatPanel .chatFooter input {
  background-color: #262424;
  border: 0px solid black;
}

.chatPanel .chatFooter .chatFooterTop {
  height: 30px;
}

.chatMembersOverlay {
    display:none;
}
.modDisplayOverlay {
    display:none;
}

#channelPlayerMenuSection {
    width: 35%;
}

#chatside {
    border-left: 1px solid #eeeeee;
    width:35%;
}

.chatbox-popout {
    height:100%;
    width:100%;
    margin-top: 10px;
    margin-bottom: 50px;
}

.chat-popout-bottom {
    height:100px;
    position: fixed;
    display: block;
    bottom:25px;
    width:100%;
    padding-right:35px;
}

.profileBox {
  background-color: white;
  width: 450px;
  height:115px;
  border: 0px solid black;
}

.profileBoxHeader {
  background-color: black;
  border-radius: 5px 5px 0px 0px;
  color:white;
  height:60px;
  width:100%;
}

.profileBoxHeader .close {
  color:white;
}

.profileBoxPic {
  width:40px;
  height:40px;
  background-color: green;
  text-align: center;
}

#iconBar-owner {
  color: gold;
}
#iconBar-admin {
  color: gold;
}
#iconBar-mod {
  color: orange;
}
#iconBar-member {
  color:gold;
}
#iconBar-muted {
  color:red;
}
#iconBar-voice {
  color:white;
}
#iconBar-visitor {
  color:white;
}

.user a:link, .user a:visited {
    text-decoration: none;
}

.streamcard-overlay {
  position:relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.stream-image-overlay-text{
    margin-left:10px;
    margin-top:10px;
    text-shadow: 1px 1px 2px #000000;
    color:white;
    position: relative;
    top:-210px;
    left:3px;
}

.channeldescription p{
    white-space: pre-wrap;
}


.videoPanel{
    overflow-y: auto;
    max-height:90vh;
}

.videoPanel::-webkit-scrollbar {
    width: 0 !important
}

.search {
    -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
    border-radius: 20px; /* (height/2) + border-width */
    border-style: none;
	border-width: 0px;
    color: #333;
    -webkit-appearance: none;
	-moz-appearance: none;
}

.spinner-overlay {
	position: absolute;
	background: transparent;
	display: none;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	z-index: 10000;
	background: var(--spinner-backdrop-color);
}
.spinner {
	border-left: var(--spinner-border-width) solid var(--spinner-color-two);
	border-top: 4px solid var(--spinner-color-one);
	border-bottom: 4px solid var(--spinner-color-one);
	border-right: 4px solid var(--spinner-color-one);
	border-radius: var(--spinner-border-rad);
	animation: spinner var(--spinner-speed) infinite linear;
	width: var(--spinner-size);
	height: var(--spinner-size);
	z-index: 100001;
}

.chatsticker-composer-popover-input{
    font-size-adjust: none;
    font-size: 100%;
    font-style: normal;
    letter-spacing: normal;
    font-stretch: normal;
    font-variant: normal;
    font-weight: 400;
    font: normal normal 100% "chatsticker-font", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    text-align-last: auto;
    text-decoration: none;
    -webkit-text-emphasis: none;
    text-emphasis: none;
    text-height: auto;
    text-indent: 0;
    text-justify: auto;
    text-outline: none;
    text-shadow: none;
    text-transform: none;
    text-wrap: normal;
    alignment-adjust: auto;
    alignment-baseline: baseline;
    -webkit-animation: none 0 ease 0 1 normal;
    animation: none 0 ease 0 1 normal;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-appearance: normal;
    -moz-appearance: normal;
    appearance: normal;
    azimuth: center;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    background: none 0 0 auto repeat scroll padding-box transparent;
    background-color: transparent;
    background-image: none;
    baseline-shift: baseline;
    binding: none;
    bleed: 6pt;
    bookmark-label: content();
    bookmark-level: none;
    bookmark-state: open;
    bookmark-target: none;
    border: 0 none transparent;
    border-radius: 0;
    bottom: auto;
    box-align: stretch;
    -webkit-box-decoration-break: slice;
    box-decoration-break: slice;
    box-direction: normal;
    box-flex: 0.0;
    box-flex-group: 1;
    box-lines: single;
    box-ordinal-group: 1;
    box-orient: inline-axis;
    box-pack: start;
    box-shadow: none;
    box-sizing: content-box;
    -webkit-column-break-after: auto;
    break-after: auto;
    -webkit-column-break-before: auto;
    break-before: auto;
    -webkit-column-break-inside: auto;
    break-inside: auto;
    caption-side: top;
    clear: none;
    clip: auto;
    color: inherit;
    color-profile: auto;
    -webkit-column-count: auto;
    -moz-column-count: auto;
    column-count: auto;
    -webkit-column-fill: balance;
    -moz-column-fill: balance;
    column-fill: balance;
    -webkit-column-gap: normal;
    -moz-column-gap: normal;
    column-gap: normal;
    -webkit-column-rule: medium medium #1f1f1f;
    -moz-column-rule: medium medium #1f1f1f;
    column-rule: medium medium #1f1f1f;
    -webkit-column-span: 1;
    -moz-column-span: 1;
    column-span: 1;
    -webkit-column-width: auto;
    -moz-column-width: auto;
    column-width: auto;
    -webkit-columns: auto auto;
    -moz-columns: auto auto;
    columns: auto auto;
    content: normal;
    counter-increment: none;
    counter-reset: none;
    crop: auto;
    cursor: auto;
    direction: ltr;
    display: inline;
    dominant-baseline: auto;
    drop-initial-after-adjust: text-after-edge;
    drop-initial-after-align: baseline;
    drop-initial-before-adjust: text-before-edge;
    drop-initial-before-align: caps-height;
    drop-initial-size: auto;
    drop-initial-value: initial;
    elevation: level;
    empty-cells: show;
    fit: fill;
    fit-position: 0 0;
    float: none;
    float-offset: 0 0;
    grid-columns: none;
    grid-rows: none;
    hanging-punctuation: none;
    height: auto;
    hyphenate-after: auto;
    hyphenate-before: auto;
    hyphenate-character: auto;
    hyphenate-lines: no-limit;
    hyphenate-resource: none;
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
    icon: auto;
    image-orientation: auto;
    image-rendering: auto;
    image-resolution: normal;
    inline-box-align: last;
    left: auto;
    line-height: inherit;
    line-stacking: inline-line-height exclude-ruby consider-shifts;
    list-style: disc outside none;
    margin: 0;
    marks: none;
    marquee-direction: forward;
    marquee-loop: 1;
    marquee-play-count: 1;
    marquee-speed: normal;
    marquee-style: scroll;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    move-to: normal;
    nav-down: auto;
    nav-index: auto;
    nav-left: auto;
    nav-right: auto;
    nav-up: auto;
    opacity: 1;
    orphans: 2;
    outline: medium none invert;
    outline-offset: 0;
    overflow: visible;
    overflow-style: auto;
    padding: 0;
    page: auto;
    page-break-after: auto;
    page-break-before: auto;
    page-break-inside: auto;
    page-policy: start;
    -webkit-perspective: none;
    perspective: none;
    -webkit-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    pointer-events: auto;
    position: absolute;
    presentation-level: 0;
    punctuation-trim: none;
    quotes: none;
    rendering-intent: auto;
    resize: none;
    right: auto;
    rotation: 0;
    rotation-point: 50% 50%;
    ruby-align: auto;
    ruby-overhang: none;
    ruby-position: before;
    ruby-span: none;
    size: auto;
    string-set: none;
    table-layout: auto;
    top: auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transform-origin: 50% 50% 0;
    -ms-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
    -webkit-transform-style: flat;
    transform-style: flat;
    transition: all 0 ease 0;
    unicode-bidi: normal;
    vertical-align: baseline;
    white-space: normal;
    white-space-collapse: collapse;
    widows: 2;
    width: auto;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    z-index: auto;
    text-align: start;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
.chatsticker-composer-popover {
    z-index: 2147483003;
    position: absolute;
    display: none;
    width: 100%;
    right: 0px;
    box-shadow: 0 1px 15px 1px rgba(0,0,0,.08);
    background-color: #fff;
    border-radius: 6px;
    transition-duration: 200ms;
    transition-delay: 0ms;
    transform-style: flat;
    transform-origin: 50% 50% 0;
    opacity: 0;
    transition: all 0.2s linear;
    visibility: hidden;
}
.chatsticker-composer-popover.active{
  visibility: visible;
  display: block;
  opacity:1;
  bottom: 50px;
}
.chatsticker-emoji-picker {
    width: 330px;
    height: 260px;
}
.chatsticker-composer-popover-header {
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    height: 40px;
    border-bottom: 1px solid #edeff1;
}
.chatsticker-composer-popover-input {
    font-weight: 400;
    font-size: 14px;
    color: #6e7a89;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    outline: none;
}
.chatsticker-composer-popover-body {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 5px;
    padding: 0 20px;
    overflow-y: scroll;
}
.chatsticker-emoji-picker-group {
    margin: 10px -5px;
}
.chatsticker-emoji-picker-group {
    margin: 10px -5px;
}
.chatsticker-emoji-picker-group-title {
    color: #b8c3ca;
    font-weight: 400;
    font-size: 13px;
    margin: 5px;
}
.chatsticker-emoji-picker-emoji {
    padding: 5px;
    width: 30px;
    line-height: 30px;
    display: inline-table;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    font-size: 28px;
    transition: -webkit-transform 60ms ease-out;
    transition: transform 60ms ease-out;
    transition: transform 60ms ease-out,-webkit-transform 60ms ease-out;
    transition-delay: 60ms;
    font-family: Apple Color Emoji,Segoe UI Emoji,NotoColorEmoji,Segoe UI Symbol,Android Emoji,EmojiSymbols;
}
.chatsticker-emoji-picker-emoji:hover {
    transition-delay: 0ms;
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
}
.chatsticker-composer-popover-caret {
    position: absolute;
    bottom: -8px;
    right: 0%;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #fff;
    right: 54px;
}

@keyframes spinner {
	0% {
		transform: rotate(-360deg);
	}
}


@media screen and (min-width : 992px) and (max-width : 1854px) {
    .displayCard-other .card-data {
        margin-left:0px;
        float:left;
    }
    .displayCard-other .card-data .displayCard-footer {
        top: initial;
        font-size:1em;
    }


}


@media screen and (max-width : 640px) {

    .card-cut-text {
      text-overflow: ellipsis;
      overflow: hidden;
      width: 250px;
      height: 1.35em;
      white-space: nowrap;
    }

    .displayCard {
        width: 100%;
        height: initial;
        margin-bottom: 5px;
    }

    .displayCard .displayCard-thumbnail img {
        width: 100%;
        height: initial;
        object-fit: contain;
        overflow: hidden;
        background-color: black;
    }

    .displayCard .card-data {
        position: relative;
        top: -10px;
        margin-left:0px;
        float: left;
        font-size:1em;
    }

    .displayCard .card-data img {
        position: relative;
        top: -18px;
    }

    .displayCard-other {
        width: 100%;
        height: initial;
        margin-bottom: 5px;
    }

    .displayCard-other img{
        width: 100%;
        height: initial;
    }

    .displayCard-other .card-data {
        margin-left:0px;
        float: left;
        font-size:1em;
    }
    .displayCard-other .card-data .displayCard-footer {
        font-size:1em;
        top: initial;
    }

    #channelPlayerMenuSection {
    width: 100%;
    }

    #chatside {
        border: 0;
        width:100%;
    }
    
    .streamerCard {
        width: 100%;
        height: initial;
        margin-bottom: 5px;
    }

    .streamerCard img{
        width: 100%;
        height: initial;
    }

    .streamerCard .card-data {
        margin-left:0px;
        float: left;
        font-size:1em;
    }
    .streamerCard .card-data .streamerCard-footer {
        font-size:1em;
        top: initial;
    }

    .channelVideoCard {
        width:100%;
    }

}

.verfiedIcon {
    width: 30px !important ; 
    height: 30px !important;
    padding:0px !important;
    margin:0px !important;
}


.sidenavPicContainer{
    width: 300px !important ; 
    height: 100px !important;
    padding:0px !important;
    margin:0px !important;
  }
  
  
  .livesidenavPic{
    width:   var(--sideBarWidth) !important ; 
  
    padding:0px !important;
    margin: 0px !important;
  }
  
  .sidenavPic{
    width:   var(--sideBarWidth) !important ; 
    height:  var(--sideBarWidth) !important;
    padding:0px !important;
    margin: 0px !important;
  }
  
  .sidenav {
    width: var(--sideBarWidth);
    position: fixed;
    z-index: 1;
    top: var(--TopBarHeight); 
/*    top:48px;*/
    left: 0;
    color: var(--PDLBlue) !important;
  /*  background-image: var(--background-image); */
    background-image: var(--sidebarBackground  );
  
  
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 30% 100%;
  
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
    overflow-y: auto;
    padding: 0px;
    height: 100vh !important;
    margin: 0px;
    /*-ms-overflow-style: none;  */
    scrollbar-width: none;
    
  }
  
  .sidenav::-webkit-scrollbar {
    width: 0 !important;
    display: none !important; 
  
  }
  
  .sidenav a {
  /*  padding: 8px 8px 8px 32px; */
    padding: 0px;
    margin: 0px;
    text-decoration: none;
  /*  font-size: 3vw; */
    color: var(--PDBBlue) !important;
    display: block;
    transition: 0.5s;
  }
  
  .sidenav a:hover {
   color: var(--PDLBlue) !important;
  }
  
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 60px;
  }
  
  #main {
    transition: margin-left .5s;
    /*padding: 16px;*/
    margin:0;
    padding:0;
    margin-left:var(--sideBarWidth);
  }
  
  .pro-carousel {
    /*height: 450px !important;*/
    height: calc(100vh /2 ); 

  }

  .pro-carousel-item {
/*    height: 400px !important; 
  */  height: calc(100vh /2)  !important;
      padding-top: 10px !important;
      padding-bottom: 10px !important;
  }
  .pro-carousel-discord {
    /*    height: 400px !important; 
      */  height: calc(100vh /2)  !important;
          padding-top: 10px !important;
          padding-bottom: 10px !important;
}

.index-streams-container-bg {
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 100% 100%;
  }

  .liveText{
    font-size: 2.1vw !important;
   /* font-size: x-small;*/
    color: white;
    font-family: "Oliciy";
    padding:0px !important;
    margin:0px !important;
    border: 0 !important ;
   /* background-color: hotpink !important; */
   /* line-height: 3.3vw;
   /* padding-top: 0.2vh !important;
    padding-bottom: 0.2vh !important;
  */
  }
  
  
  .following-text {
    font-size: 0.75vw !important;
    
    color: white;
    font-family: "Oliciy";
    padding:0px !important;
    margin:0px !important;
    border: 0 !important ;
  
  }