<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  
</head>

<body>
  <div class="row mx-1">
    <ul id="streamList" class="itemList d-flex flex-wrap justify-content-start" style="width:100%;"><!--Manually Defined Due to Mobile Strangeness-->
        {% for stream in sideBarStreamList %}
        <li class="displayCard mx-2 my-1">
          <a href="/view/{{stream.channelLoc}}/">
            <div class="displayCard-thumbnail zoom">
              <div class="video-badges">
                <span class="badge badge-danger mx-1"><i class="fas fa-video"></i></span>
                {% if stream.protected and sysSettingsprotected %}<span class="badge badge-warning mx-1"><i class="fas fa-user-lock"></i> Protected</span>{% endif %}
              </div>
              <img class="shadow lazy" {% if stream.protected and sysSettingsprotected %} src="/static/img/video-locked.jpg" onerror="this.src='/static/img/video-locked.jpg';" {% else %} src="/stream-thumb/{{stream.channelLoc}}.gif" onerror="this.src='/static/img/video-placeholder.jpg';" {% endif %} data-src="/stream-thumb/{{stream.channelLoc}}.gif">
              <div class="displayCard-counts">
                <span class="displayCard-left align-left" style="color:white;">
                  <span class="px-2 flex-fill upvotes"><i class="fas fa-thumbs-up"></i> <b>{{stream.NupVotes}}</b></span>
                </span>
                <span class="displayCard-right" style="float:right;color:white;">
                  <span class="px-2 flex-fill liveviews"><i class="fas fa-eye"></i> <b>{{stream.currentViewers}}</b></span>
                  <span class="px-2 flex-fill views"><i class="fas fa-users"></i> <b>{{stream.totalViewers}}</b></span>
                </span>
              </div>
            </div>
            <div class="card-data">
              <img class="rounded" src="/images/{{stream.pictureLocation}}" onerror="this.src='/static/img/user2.png';">
              <div class="metadata">
                <div class="card-cut-text name ml-1"><h5>{{stream.streamName}}</h5></div>

 {#                <b><i class="px-2 fas fa-podcast "></i></b><a href="/channel/{{stream.id}}/"> {{stream.channelName}}</a>
   #}                                    
                  <div class="ml-1" style="font-size: large;">{{stream.username}}</div>
                  <div class="topic ml-1" style="font-size: large;">{{stream.name}}</div>
              </div>
            </div>
          </a>
        </li>
        {% endfor %}
        {% if sideBarStreamList == [] %}
        No Live Streams Online...
        {% endif %}
      </ul>
  </div>

</body>
        
</html>
