{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}

{% block head %}
<title>{{sysSettings.siteName}} - Channels</title>
{% endblock %}

{% block body %}
{{renderedchannels|safe}}

{% endblock %}

{% block scripts %}
<script>
    channelListOptions = {
        valueNames: ['name', 'username', 'subs', "views", "topic"]
    };

    var channelList = new List('channelList', channelListOptions);
</script>
{% endblock %}