{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}

{% block head %}
<title>{{sysSettings.siteName}} - {{clip.clipName}}</title>
<meta name="twitter:card" content="player" />
<meta property="og:site_name" content="{{sysSettings.siteName}}" />
<meta property="og:title" content="{{clip.clipName}}" />
<meta property="og:type" content="video.other" />
<meta property="og:url" content="{{request.url|normalize_url}}" />
<meta property="og:image" content="{{request.url_root|normalize_urlroot}}/videos/{{clip.thumbnailLocation}}" />
<meta property="og:description" content="{{clip.description}}" />
<link href="/static/vendor/videojs/css/video-js.css" rel="stylesheet">
<script type="text/javascript" src="/static/vendor/socketio/js/socket.io.js"></script>

{% endblock %}

{% block body %}

<div class="container-fluid">
  <div class="row">
    <div class="col-lg col-xs-12 col-sm-12">
      <div class="index-video-title ml-2 my-2">
        <span class="float-left" id="clipName">{{clip.clipName}}</span>
        <h6 style="display: inline; margin: 0px;"><span class="liveindicator badge badge-secondary float-left m-2"><i class="fas fa-cut"></i>
            Clip</span></h6>{% if video.channel.protected and sysSettings.protectionEnabled %}<h6 style="display: inline; margin: 0px;"><span class="liveindicator badge badge-info float-left m-2"><i class="fas fa-user-lock"></i>
            <span class="d-none d-sm-none d-md-inline">Protected</span></span></h6>{% endif %}
      </div>
    </div>
    <div class="col-lg-auto col-sm-12" style="width:450px;">
    </div>
  </div>
  <div class="row">
    <div class="col-lg" id="videoWindow">
      <div class="videoPanel">
        <div class="player ml-2">
          <div id="videoContainer">
            <video id="video" class="shadow recordedStream video-js vjs-big-play-centered" poster="/videos/{{clip.thumbnailLocation}}" controls preload="auto" playsinline data-setup='{"fluid": true}'>
              <source src="{{streamURL}}" type="video/mp4">
              <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
              </p>
            </video>
          </div>
        </div>
        <div class="row m-2">
          <div class="video-buttons-row">
            <span class="float-left">
              <b><i class="fas fa-video mr-1"></i></b> <a href="/play/{{video.id}}"> {{video.channelName}}</a><br />
              <b><i class="fas fa-podcast mr-2"></i></b> <a href="/channel/{{video.channel.id}}/"> {{video.channel.channelName}}</a><br />
              <b><i class="fas fa-hashtag mr-2"></i></b> <a href="/topic/{{video.topic}}/"> {{video.topic|get_topicName}}</a>
            </span>
            <span class="float-right ml-2">
              <b><i class="fas fa-calendar-alt mr-2"></i></b> {{video.videoDate|normalize_date}} <br />
              <i class="fas fa-users"></i> {{clip.views}}
            </span>
            <span class="float-right">
              <button type="button" class="btn btn-primary shadow" data-toggle="modal" data-target="#shareModal">
                <i class="fas fa-share-alt"></i>
              </button>
              <span class="float-right mx-1">
                {% if current_user.is_authenticated %}
                <button id="chanSubStateButton" class="btn {% if subState == True %} btn-outline-success {% else %} btn-outline-secondary {% endif %}" onclick='toggleChannelSub("{{clip.recordedVideo.channel.id}}")'>{% if subState == True %}<i class="fas fa-star"></i>{% else %}<i class="far fa-star"></i>{% endif %}</button>
                {% else %}
                <button class="btn btn-outline-secondary disabled" disabled><i class="far fa-star"></i></button>
                {% endif %}
              </span>
              <span class="float-right">
                <button id="upvoteButton" type="button" class="btn btn-outline-success shadow" onclick="changeUpvote('clip',{{clip.id}});" title="Upvote" {% if current_user.is_authenticated==false %} disabled aria-disabled="true" {% endif %}>
                  <i id="upVoteIcon" class="far fa-thumbs-up"> <span id="totalUpvotes"></span></i>
                </button>
              </span>
              {% if video.owningUser == current_user.id %}
              <span class="float-right mx-1">
                <div class="btn-group" role="group">
                  <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i id="cog" class="fas fa-cogs"></i></button>
                  <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="{{streamURL}}" download><i class="fas fa-download"></i> Download Video</a>
                    <a class="dropdown-item" href="#" onclick="newScreenShot();"><i class="fas fa-camera"></i> Create Thumbnail</a>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#editModal"><i class="fas fa-edit"></i> Edit Details</a>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash-alt"></i> Delete Video</a>
                  </div>
                </div>
              </span>
              {% endif %}
            </span>
          </div>
          <div class="row m-2">
            <div class="videodescription">{% if clip.description != None %}<p>{{clip.description|markdown}}</p> {% else %}No Description Available {% endif %}</div>
          </div>
        </div>
      </div>
    </div>
    <div id="chatside" class="col-lg-auto col-xs-12 col-sm-12">
      <div class="col-lg-auto col-sm-12 col-xs-12">
        <div class="row ml-2 mr-1">
          <div class="index-video-title mb-2"><b>Other Clips</b></div>
          {% for clipEntry in randomClips[:4] %}
          <div class="video-card bg-dark mx-4" style="max-width: 20rem;">
            <div class="video-card-header">
              <a href="/clip/{{clipEntry.id}}">
                <img class="shadow {% if clipEntry.gifLocation != None %}gif{% endif %} lazy" src="/static/img/video-placeholder.jpg" width="100%" data-src="/videos/{{clipEntry.thumbnailLocation}}" onerror="this.src='/static/img/video-placeholder.jpg';">
              </a>
            </div>
            <div class="video-card-body">
              <i class="fas fa-tv mr-2"></i><span class="video-title"><a href="/clip/{{clipEntry.id}}"><b> {{clipEntry.clipName|limit_title}}</b></a></span><br />
              <span class="float-right"><span class="badge badge-secondary ml-2"><i class="fas fa-user-lock"></i> Clip</span></span>{% if clipEntry.recordedVideo.channel.protected and sysSettings.protectionEnabled %}<span class="float-right"><span class="badge badge-info"><i class="fas fa-user-lock"></i> Protected</span></span>{% endif %}<br />
              <i class="fas fa-podcast mr-2"></i><a href="/channel/{{clipEntry.recordedVideo.channel.id}}/"> {{clipEntry.recordedVideo.channel.channelName}}</a>
              <span class="float-right"><i class="fas fa-calendar-alt mr-2"></i> {{clipEntry.recordedVideo.videoDate|normalize_date}}</span><br />
              <i class="fas fa-user mr-2"></i><a href="/streamer/{{clipEntry.recordedVideo.owningUser}}"> {{clipEntry.recordedVideo.owningUser|get_userName}}</a>
              <span class="float-right"><i class="fas fa-hashtag mr-2"></i> <a href="/topic/{{clipEntry.recordedVideo.topic}}/"> {{clipEntry.recordedVideo.channel.topic|get_topicName}}</a></span><br />
              <i class="fas fa-thumbs-up mr-2"></i> {{clipEntry.NupVotes}}</span>
              <i class="fas fa-eye mx-2"></i> {{clipEntry.views}}</span>
              <span class="float-right"><i class="fas fa-clock mr-2"></i> {{clipEntry.length|hms_format}}</span>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>


{% if video.owningUser == current_user.id %}
<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalTitle">Edit Clip Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/clip/{{clip.id}}/change" method="post">
        <div class="modal-body">

          <h5>Name of the Clip:</h5>
          <input type="text" class="form-control" value="{{clip.clipName}}" name="newVidName" required>
          <br>
          <div class="form-group">
            <label for="description" class="col-form-label"><b>Description</b></label>
            <textarea class="form-control" name="description" id="description" value="" maxlength="2048">{{clip.description}}</textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Save Changes" onclick="showSpinner();">
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalTitle">Confirm Clip Deletion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <h5>Are you sure you want to delete this clip?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        <a href="/clip/{{clip.id}}/delete" class="btn btn-danger" onclick="showSpinner();">Delete</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="newSSModal" tabindex="-1" role="dialog" aria-labelledby="newSSModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newSSModalTitle">Confirm New Clip Thumbnail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <h5>Use this picture?</h5>
        <img id="newScreenShotImg" src="">
        <input type="hidden" id="thumbnailTimestamp">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        <button type="button" onclick="setScreenShot()" class="btn btn-success" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>

{% endif %}

<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shareModalTitle">Share a Video/Stream</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div style="margin: 0 auto;width: 99%; text-align: center;">
          <button type="button" id="FBShareBtn" class="btn shadow" style="background-color:#4267B2;color:white;" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{request.url}}','facebook-share-dialog','width=626,height=436');return false;">Share on Facebook</button>
          <button type="button" id="TwitterShareBtn" class="btn shadow" style="background-color:#1dcaff;color:white;" onclick="window.open('https://twitter.com/share?url={{request.url}}&text=Check out this Video! - {{video.channelName}}','twitter-share-dialog','width=626,height=436');return false;">Share on Twitter</button>
        </div>
        <br>
        <div class="form-group row">
          <label for="embedURLInput" class="col-sm-2 col-form-label"><b>Embed</b></label>
          <div class="col-sm-10">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <button type="button" class="btn btn-primary" onclick="CopyDiv('embedURLInput')"><i class="fas fa-copy"></i></button>
              </div>
              <input class="form-control" id="embedURLInput" type="text" value="<iframe src='{{request.url}}?embedded=True&autoplay=True' width=600 height=345></iframe>" readonly onClick="this.select();">
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="linkShareInput" class="col-sm-2 col-form-label"><b>Link</b></label>
          <div class="col-sm-10">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <button type="button" class="btn btn-primary" onclick="CopyDiv('linkShareInput')"><i class="fas fa-copy"></i></button>
              </div>
              <input class="form-control" id="linkShareInput" type="text" value="{{request.url}}" readonly onClick="this.select();">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="/static/vendor/videojs/js/video.js"></script>

<script>
    var player = videojs('video', {
            autoplay: true,
            errorDisplay: false,
            liveui: false,
            liveTracker:true,
            html5:
                {
                    nativeAudioTracks: false,
                    nativeVideoTracks:false,
                    hls:
                        {
                            overrideNative: true
                        }
                }
        });

</script>

<script type="text/javascript" charset="utf-8">
  var conn_options = {
    'sync disconnect on unload': true
  };

  var socket = io();
</script>

<script>
  var simplemde2 = new EasyMDE({ autoDownloadFontAwesome: false, spellChecker: false, element: document.getElementById("description") });
</script>

<script>
  socket.on('connect', function () {
    socket.emit('getUpvoteTotal', { loc: '{{clip.id}}', vidType: 'clip' });
  });
</script>

<script>
  setInterval(function () {
    socket.emit('getUpvoteTotal', { loc: '{{clip.id}}', vidType: 'clip' });
  }, 30000);
</script>

<script type="text/javascript" charset="utf-8">
  socket.on('upvoteTotalResponse', function (msg) {

    if (msg['type'] === 'clip') {
      upvoteDivID = 'totalUpvotes';
      upvoteIconID = 'upVoteIcon';
      upvoteButtonID = 'upvoteButton';
    }

    document.getElementById(upvoteDivID).innerHTML = msg['totalUpvotes'];

    if (msg['myUpvote'] === 'True') {
      if (document.getElementById(upvoteIconID).classList.contains('far')) {
        document.getElementById(upvoteIconID).classList.remove('far');
        document.getElementById(upvoteIconID).classList.add('fas');
      }
      if (document.getElementById(upvoteButtonID).classList.contains('btn-outline-secondary')) {
        document.getElementById(upvoteButtonID).classList.remove('btn-outline-secondary');
        document.getElementById(upvoteButtonID).classList.add('btn-outline-success');
      }
    }
    else if (msg['myUpvote'] === 'False') {
      if (document.getElementById(upvoteIconID).classList.contains('fas')) {
        document.getElementById(upvoteIconID).classList.remove('fas');
        document.getElementById(upvoteIconID).classList.add('far');
      }
      if (document.getElementById(upvoteButtonID).classList.contains('btn-outline-success')) {
        document.getElementById(upvoteButtonID).classList.remove('btn-outline-success');
        document.getElementById(upvoteButtonID).classList.add('btn-outline-secondary');
      }
    }
  });
</script>

<script>
  function changeUpvote(type, id) {
    socket.emit('changeUpvote', { loc: id, vidType: type });
    socket.emit('getUpvoteTotal', { loc: id, vidType: type });
  }
</script>

<script>
  function newScreenShot() {
    player.pause();
    window.whereYouAt = player.currentTime();
    document.getElementById("thumbnailTimestamp").value = window.whereYouAt;
    socket.emit('newScreenShot', { loc: '{{video.id}}', timeStamp: window.whereYouAt, clipID: '{{clip.id}}' });
  }
</script>

<script>
  socket.on('checkScreenShot', function (msg) {
    document.getElementById("newScreenShotImg").src = msg['thumbnailLocation'];
    $("#newSSModal").modal()
  });
</script>


<script>
  function setScreenShot() {
    var timestamp = document.getElementById("thumbnailTimestamp").value;
    socket.emit('setScreenShot', {timeStamp: timestamp, clipID: '{{clip.id}}' });
  }
</script>

{% if startTime != None %}
<script>
  player.currentTime({{ startTime }});
  player.play();
</script>
{% endif %}

<script>
  function CopyDiv(divVal) {
    var copyText = document.getElementById(divVal);
    copyText.select();
    document.execCommand("copy");
  }
</script>

<script>
  function toggleChannelSub(chanID) {
    socket.emit('toggleChannelSubscription', { channelID: chanID });
  }
</script>
<script>

  socket.on('sendChanSubResults', function (msg) {
    var subButton = document.getElementById('chanSubStateButton');
    if (msg['state'] === true) {
      subButton.innerHTML = "<i class='fas fa-star'></i>";
      subButton.className = "btn btn-outline-success";
    } else {
      subButton.innerHTML = "<i class='far fa-star'></i>";
      subButton.className = "btn btn-outline-secondary";
    }
  });
</script>
{% endblock %}