{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}

{% block head %}
<title>{{sysSettings.siteName}}</title>
<meta name="twitter:card" content="app" />
<meta property="og:site_name" content="{{sysSettings.siteName}}" />
<meta property="og:title" content="{{sysSettings.siteName}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{request.url|normalize_url}}" />
<meta property="og:image" content="{{request.url_root|normalize_urlroot}}/{{sysSettings.systemLogo}}" />
{% endblock %}

{% block body %}
<div class="container-fluid p-2" id="index-live-container">
    {% if sysSettings.serverMessage != "" and sysSettings.serverMessage != None %}
    <div class="jumbotron shadow mt-2 p-3">
        <div class="row p-2">
            <div>
                <h2 class="display-5"><b>{{sysSettings.serverMessageTitle}}</b></h2>
            </div>
        </div>
        <div class="row p-2">
            <div>
                {{sysSettings.serverMessage|markdown}}
            </div>
        </div>
    </div>
    {% endif %}
    <span id="carouseltestText"></span> 
    <div class="row m-2">
        <div class="index-live-title"><b>Live Now</b></div>
    </div>
    <span id="liveNowtestText"></span>
</div>
<hr>
<div class="container-fluid p-2" id="index-videos-container" style="background-color: var(--PDSlateDark);">
    <div class="row mx-2">
        <div class="index-video-title"><b>Recent</b></div>
    </div>
    <div class="row mx-4">
        <ul id="recordedVideosList" class="itemList d-flex flex-wrap justify-content-start">
            {% for video in recentQuery %}
                <li class="displayCard mx-2 my-1">
                  <a href="/play/{{video.id}}">
                    <div class="displayCard-thumbnail zoom">
                      <div class="video-badges">
                        {% if video.protected and sysSettings.protectionEnabled %}<span class="badge badge-warning mx-2"><i class="fas fa-user-lock"></i> Protected</span>{% endif %}
                      </div>
                      <img class="shadow {% if video.gifLocation != None %}gif{% endif %} lazy" src="/static/img/video-placeholder.jpg" data-src="/videos/{{video.thumbnailLocation}}" onerror="this.src='/static/img/video-placeholder.jpg';">
                      <div class="displayCard-counts">
                        <span class="displayCard-left align-left" style="color:white;">
                          <span class="px-2 flex-fill upvotes"><i class="fas fa-thumbs-up"></i> <b>{{video.NupVotes}}</b></span>
                        </span>
                        <span class="displayCard-right" style="float:right;color:white;">
                          <span class="px-2 flex-fill views"><i class="fas fa-users"></i> <b>{{video.views}}</b></span>
                          <span class="px-2 flex-fill length"><i class="fas fa-clock"></i> <b>{{video.length|hms_format}}</b></span>
                        </span>
                      </div>
                    </div>
                    <div class="card-data">
                      <img class="rounded" src="/images/{{video.pictureLocation}}" onerror="this.src='/static/img/user2.png';">
                      <div class="metadata">
                        <div class="card-cut-text name ml-2"><h5>{{video.channelName|limit_title}}</h5></div>
                        <div class="topic ml-2" style="padding-top: 5px;font-size: large;">{{video.topic|get_topicName}}</div>
                        <span class="date" style="display:none;">{{video.videoDate|normalize_date}}</span>
                      </div>
                    </div>
                  </a>
                </li>
            {% endfor %}
        </ul>
    </div>
  </div>
  <hr>
<div class="container-fluid p-2" id="index-videos-container">
    <div class="row m-2">
        <div class="index-video-title"><b>Videos</b></div>
    </div>
    <div class="row mx-2">
        <div class="col-lg col-xs-12 col-sm-12">
            <div class="d-flex flex-wrap justify-content-start">
                {% for video in videoList %}
                <div class="video-card bg-dark mx-4" style="max-width: 20rem;">
                    <div class="video-card-header">
                        <a href="/play/{{video.id}}">
                            <img class="shadow {% if video.gifLocation != None %}gif{% endif %} lazy" {% if video.protected and sysSettings.protectionEnabled %} src="/static/img/video-locked.jpg" onerror="this.src='/static/img/video-locked.jpg';" {% else %} src="/static/img/video-placeholder.jpg"
                                onerror="this.src='/static/img/video-placeholder.jpg';" {% endif %} width="100%" data-src="/videos/{{video.thumbnailLocation}}">
                        </a>
                    </div>
                    <div class="video-card-body">
                        <i class="fas fa-tv mr-2"></i><span class="video-title"><a href="/play/{{video.id}}"><b> {{video.channelName|limit_title}}</b></a></span><br />
                        {% if video.protected and sysSettings.protectionEnabled %}<span class="float-right"><span class="badge badge-info"><i class="fas fa-user-lock"></i> Protected</span></span>{% endif %}<br />
                        <i class="fas fa-podcast mr-2"></i> {{video.ChanName}}
                        <span class="float-right"><i class="fas fa-calendar-alt mr-2"></i> {{video.videoDate|normalize_date}}</span><br />
                        <i class="fas fa-user mr-2"></i><a href="/streamer/{{video.owningUser}}"> {{video.username}}</a>
                        <span class="float-right"><i class="fas fa-hashtag mr-2"></i><a href="/topic/{{video.topic}}/"> {{video.topic|get_topicName}}</a></span><br />
                        <i class="fas fa-thumbs-up mr-2"></i> {{video.NupVotes}}</span>
                        <i class="fas fa-eye mx-2"></i> {{video.views}}</span>
                        {#<i class="fas fa-comments mx-2"></i> {{video.id|get_Video_Comments}} </span>#}
                        <span class="float-right"><i class="fas fa-clock mr-2"></i> {{video.length|hms_format}}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="container-fluid p-2" id="index-videos-container">
    <div class="row m-2">
        <div class="index-video-title"><b>Clips</b></div>
    </div>
    <div class="row mx-2">
        <div class="col-lg col-xs-12 col-sm-12">
            <div class="d-flex flex-wrap justify-content-start">
                {% for clip in clipList %}
                <div class="video-card bg-dark mx-4" style="max-width: 20rem;">
                    <div class="video-card-header">
                        <a href="/clip/{{clip.id}}">
                            <img class="shadow {% if clip.gifLocation != None %}gif{% endif %} lazy" src="/static/img/video-placeholder.jpg" width="100%" data-src="/videos/{{clip.thumbnailLocation}}" onerror="this.src='/static/img/video-placeholder.jpg';">
                        </a>
                    </div>
                    <div class="video-card-body">
                        <i class="fas fa-tv mr-2"></i><span class="video-title"><a href="/clip/{{clip.id}}"><b> {{clip.clipName|limit_title}}</b></a></span><br />
                        <span class="float-right"><span class="badge badge-secondary ml-2"><i class="fas fa-user-lock"></i> Clip</span></span>{% if clip.protected and sysSettings.protectionEnabled %}<span class="float-right"><span class="badge badge-info"><i
                                    class="fas fa-user-lock"></i> Protected</span></span>{% endif %}<br />
                        <i class="fas fa-podcast mr-2"></i> {{clip.channelName}}</a>
                        <span class="float-right"><i class="fas fa-calendar-alt mr-2"></i> {{clip.videoDate|normalize_date}}</span><br />
                        <i class="fas fa-user mr-2"></i><a href="/streamer/{{clip.owningUser}}"> {{clip.username}} </a>
                        <span class="float-right"><i class="fas fa-hashtag mr-2"></i><a href="/topic/{{clip.topic}}/"> {{clip.topic|get_topicName}}</a></span><br />
                        <i class="fas fa-thumbs-up mr-2"></i> {{clip.NupVotes}}</span>
                        <i class="fas fa-eye mx-2"></i> {{clip.views}}</span>
                        <span class="float-right"><i class="fas fa-clock mr-2"></i> {{clip.length|hms_format}}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}