<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  
</head>

<body>
  <div class="row mx-2">
    <div class="col-lg col-xs-12 col-sm-12">
        <div class="d-flex flex-wrap justify-content-between">
            {% if sideBarStreamList == [] %}
            No Live Streams Online...
            {% endif %}
            {% for stream in sideBarStreamList %}
            <div class="video-card bg-dark mb-3" style="max-width: 45rem;">
                <div class="row no-gutters">
                    <div class="video-card-header">
                        <a href="/view/{{stream.channelLoc}}/">
                          <img class="shadow lazy" {% if stream.protected and sysSettingsprotected %} src="/static/img/video-locked.jpg" onerror="this.src='/static/img/video-locked.jpg';" {% else %} src="/stream-thumb/{{stream.channelLoc}}.gif" onerror="this.src='/static/img/video-placeholder.jpg';" {% endif %} data-src="/stream-thumb/{{stream.channelLoc}}.gif">
                        </div>
                    <div class="video-card-body ml-3">
                        <b><i class="px-2 fas fa-tv"></i></b><span class="video-title"><a href="/view/{{stream.channelLoc}}/"><b>{{stream.streamName|limit_title}}</b></a></span><br />
                        <b><i class="px-2 fas fa-podcast "></i></b><a href="/channel/{{stream.id}}/"> {{stream.channelName}}</a>
                        <span class="float-right"><span class="ml-4 px-2 badge badge-danger">Live</span>{% if stream.protected and sysSettingsprotected %}<span class="badge badge-info ml-2"><i class="fas fa-user-lock"></i> Protected</span>{% endif %}</span><br />
                        <b><i class="px-2 fas fa-hashtag"></i></b><a href="/topic/{{stream.topic}}/"> {{stream.name}}<br></a>
                        <span class="px-2 flex-fill"><i class="fas fa-thumbs-up"></i> {{stream.NupVotes}}</span>
                        <span class="px-2 flex-fill"><i class="fas fa-eye"></i> {{stream.currentViewers}}</span>
                        <span class="px-2 flex-fill"><i class="fas fa-users"></i> {{stream.totalViewers}}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

</body>
        
</html>
