{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}

{% block head %}
<title>{{sysSettings.siteName}} - Streamers</title>
{% endblock %}

{% block body %}
{{renderedstreamers|safe}}

{% endblock %}

{% block scripts %}
<script>
    streamerListOptions = {
        valueNames: ['name']
    };

    var streamerList = new List('streamerList', streamerListOptions);
</script>
{% endblock %}
