{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}

{% block head %}
<title>{{sysSettings.siteName}} - Topics</title>
{% endblock %}

{% block body %}
{{renderedtopics|safe}}
{% endblock %}

{% block scripts %}
<script>
    topicListOptions = {
        valueNames: ['name']
    };

    var topicList = new List('topicsList', topicListOptions);
</script>
{% endblock %}


