{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}
{% block head %}
<title>{{sysSettings.siteName}} - {{title}}</title>

{% endblock %}

{% block body %}
{% if channelData is defined %}
<div class="container-fluid justify-content-center" style="width:100%">
    <div class="jumbotron shadow p-3">
        <div class="row">
            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12 no-stream-jumbo">
                <div>
                    <img class="shadow" src="/images/{{channelData.imageLocation}}" width="100%" onerror="this.src='/static/img/video-placeholder.jpg';">
                </div>
            </div>
            <div class="col-xl-8 col-lg-6 col-md-6 col-sm-12">
                <div class="h-100 viewerText">
                    <h2 class="display-5"><b><i class="fas fa-podcast"></i> {{channelData.channelName}}</b></h2>
                    {% if channelData.isStreaming %}
                    <span class="badge badge-danger"><i class="fas fa-video"></i> Live</span>
                    {% else %}
                    <span class="badge badge-secondary"><i class="fas fa-video-slash"></i> Offline</span>
                    {% endif %}
                    {% if channelData.protected and sysSettings.protectionEnabled %}<span class="badge badge-info"><i class="fas fa-user-lock"></i> Protected</span>{% endif %}<br>
                    <i class="fas fa-star my-2 mr-2"></i> Subscribers: {{channelData.Nsubscriptions}}<br>
                    <a href="/streamer/{{channelData.owningUser}}/">
                        <h2 class="display-5"><img width="34" height="34" class="userphoto" src="{{channelData.owningUser|get_pictureLocation}}" onerror="this.src='/static/img/user2.png';"> {{channelData.owningUser|get_userName}}</h2>
                    </a>
                    <span>
                        <p>{{channelData.description|markdown}}</p>
                    </span><br>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                <span class="m-1">
                    <a href="/view/{{channelData.channelLoc}}" class="btn btn-primary">View Live Channel</a>
                </span>
                <span class="m-1">
                    {% if current_user.is_authenticated %}
                    <button id="chanSubStateButton" class="btn {% if subState == True %} btn-success {% else %} btn-outline-secondary {% endif %}" onclick='toggleChannelSub("{{channelData.id}}")'>{% if subState == True %}<i class="fas fa-star"></i> Unsubscribe{% else %}<i class="far fa-star"></i> Subscribe{% endif %}</button>
                    {% else %}
                    <button class="btn btn-outline-secondary disabled" disabled><i class="far fa-star"></i> Subscribe</button>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if streamerData is defined %}
<div class="container-fluid justify-content-center" style="width:100%">
    <div class="jumbotron shadow p-3">
        <div class="row">
            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12 no-stream-jumbo">
                <div>
                    <img class="shadow" src="/images/{{streamerData.pictureLocation}}" width="100%" onerror="this.src='/static/img/video-placeholder.jpg';">
                </div>
            </div>
            <div class="col-xl-8 col-lg-6 col-md-6 col-sm-12">
                <div class="h-100 viewerText">
                    <h2 class="display-5"><i class="fas fa-user mr-2"></i> {{streamerData.username}}</h2>
                    {% if streamerData.biography != None %}
                    <span>
                        <p>{{streamerData.biography|markdown}}</p>
                    </span>
                    {% endif %}
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if openStreams %}
<div class="container-fluid p-2" id="index-live-container">
    <div class="row mx-2">
        <div id="streamList" class="col-lg col-xs-12 col-sm-12">
            <div class="row">
                <div class="col-12 col-md-10 col-lg-11">
                    <div class="index-video-title"><b>Live Now</b></div>
                </div>
                <div class="col-12 col-md-2 col-lg-1">
                    <span class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle shadow" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-sort"></i> Sort
                        </button>
                        <div class="dropdown-menu shadow" aria-labelledby="dropdownMenuButton">
                            <span class="sort dropdown-item" data-sort="name">Sort by Name</span>
                            <span class="sort dropdown-item" data-sort="upvotes">Sort by Upvotes</span>
                            <span class="sort dropdown-item" data-sort="views">Sort by Views</span>
                            <span class="sort dropdown-item" data-sort="liveviews">Sort by Live Viewers</span>
                            <span class="sort dropdown-item" data-sort="topic">Sort by Topic</span>
                        </div>
                    </span>
                </div>
            </div>
            <ul class="itemList list d-flex flex-wrap justify-content-between">
                {% for stream in openStreams %}
                <li class="video-card bg-dark mx-4" style="max-width: 45rem;">
                    <div class="row no-gutters">
                        <div class="video-card-header">
                            <a href="/view/{{stream.channelLoc}}/">
                                <img class="shadow gif lazy" {% if stream.protected and sysSettings.protectionEnabled %} src="/static/img/video-locked.jpg" onerror="this.src='/static/img/video-locked.jpg';" {% else %} src="/static/img/video-placeholder.jpg"
                                    onerror="this.src='/static/img/video-placeholder.jpg';" {% endif %} width="100%" data-src="/stream-thumb/{{stream.channelLoc}}.png"></a>
                        </div>
                        <div class="video-card-body ml-3">
                            <b><i class="px-2 fas fa-tv"></i></b><a href="/view/{{stream.channelLoc}}/"><span class="video-title name"><b>{{stream.streamName|limit_title}}</b></span></a><br />
                            <b><i class="px-2 fas fa-podcast "></i></b><a href="/channel/{{stream.chanID}}/"> {{stream.channelName}}</a>
                            <span class="float-right"><span class="ml-4 px-2 badge badge-danger">Live</span>{% if stream.protected and sysSettings.protectionEnabled %}<span class="badge badge-info"><i class="fas fa-user-lock"></i> Protected</span>{% endif %}</span><br />
                            <b><i class="px-2 fas fa-hashtag"></i></b><a href="/topic/{{stream.topic}}/"><span class="topic"> {{stream.topic|get_topicName}}</span></a><br>
                            <span class="px-2 flex-fill upvotes"><i class="fas fa-thumbs-up"></i> {{stream.NupVotes}}</span>
                            <span class="px-2 flex-fill liveviews"><i class="fas fa-eye"></i> {{stream.currentViewers}}</span>
                            <span class="px-2 flex-fill views"><i class="fas fa-users"></i> {{stream.totalViewers}}</span>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<hr>
{% endif %}

{% if userChannels %}
<div class="container-fluid p-2" id="index-channels-container">
    <div class="row mx-2">
        <div id="channelList" class="col-lg col-xs-12 col-sm-12">
            <div class="row">
                <div class="col-12 col-md-10 col-lg-11">
                    <div class="index-live-title"><b>Channels by {{title}}</b></div>
                </div>
                <div class="col-12 col-md-2 col-lg-1">
                    <span class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle shadow" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-sort"></i> Sort
                        </button>
                        <div class="dropdown-menu shadow" aria-labelledby="dropdownMenuButton">
                            <span class="sort dropdown-item" data-sort="name">Sort by Name</span>
                            <span class="sort dropdown-item" data-sort="subs">Sort by Subscriptions</span>
                            <span class="sort dropdown-item" data-sort="views">Sort by Views</span>
                            <span class="sort dropdown-item" data-sort="topic">Sort by Topic</span>
                        </div>
                    </span>
                </div>
            </div>
            <ul class="itemList list d-flex flex-wrap justify-content-start">
                {% for channel in userChannels %}
                <li class="channel-card bg-dark mx-4" style="max-width: 20rem;">
                    <div class="channel-card-header">
                        <a href="/channel/{{channel.id}}/">
                            <img class="shadow lazy" height="180" width="320" src="/images/{{channel.imageLocation}}" onerror="this.src='/static/img/video-placeholder.jpg';"></a>
                    </div>
                    <div class="channel-card-body">
                        <i class="fas fa-podcast mr-2"></i><a href="/channel/{{channel.id}}/"><span class="video-title name"><b> {{channel.channelName}}</b></span></a>
                        <span class="float-right">
                            {% if channel.isStreaming %}
                            <span class="badge badge-danger">Live</span>
                            {% else %}
                            <span class="badge badge-secondary">Offline</span>
                            {% endif %}
                        </span><br />
                        <i class="fas fa-user mr-2"></i><a href="/streamer/{{channel.owningUser}}"> {{channel.username}} </a>
                        {% if channel.protected and sysSettings.protectionEnabled %}<span class="float-right"><span class="badge badge-info"><i class="fas fa-user-lock"></i> Protected</span>{% endif %}</span><br />
                        <i class="fas fa-hashtag mr-2"></i> <a href="/topic/{{channel.topic}}/"><span class="topic">{{channel.topic|get_topicName}}</span></a>
                        <span class="float-right">
                            <i class="fas fa-users mr-2"></i> <span class="views">{{channel.views}}</span>
                            <i class="fas fa-star mx-2"></i> <span class="subs">{{channel.Nsubscriptions}}</span>
                        </span>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<hr>
{% endif %}
{% if recordedVids %}
<div class="container-fluid p-2" id="index-videos-container">
    <div class="row mx-2">
        <div id="recordedVideoList" class="col-lg col-xs-12 col-sm-12">
            <div class="row">
                <div class="col-12 col-md-10 col-lg-11">
                    <div class="index-video-title"><b>Videos</b></div>
                </div>
                <div class="col-12 col-md-2 col-lg-1">
                    <span class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle shadow" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-sort"></i> Sort
                        </button>
                        <div class="dropdown-menu shadow" aria-labelledby="dropdownMenuButton">
                            <span class="sort dropdown-item" data-sort="name">Sort by Name</span>
                            <span class="sort dropdown-item" data-sort="upvotes">Sort by Upvotes</span>
                            <span class="sort dropdown-item" data-sort="views">Sort by Views</span>
                            <span class="sort dropdown-item" data-sort="length">Sort by Length</span>
                            <span class="sort dropdown-item" data-sort="date">Sort by Date</span>
                        </div>
                    </span>
                </div>
            </div>
            <ul class="itemList list d-flex flex-wrap justify-content-start">
                {% for video in recordedVids %}
                <li class="video-card bg-dark mx-4" style="max-width: 20rem;">
                    <div class="video-card-header">
                        <a href="/play/{{video.id}}">
                            <img class="shadow {% if video.gifLocation != None %}gif{% endif %} lazy" {% if video.protected and sysSettings.protectionEnabled %} src="/static/img/video-locked.jpg" onerror="this.src='/static/img/video-locked.jpg';" {% else %} src="/static/img/video-placeholder.jpg"
                                onerror="this.src='/static/img/video-placeholder.jpg';" {% endif %} width="100%" data-src="/videos/{{video.thumbnailLocation}}">
                        </a>
                    </div>
                    <div class="video-card-body">
                        <i class="fas fa-tv mr-2"></i><a href="/play/{{video.id}}"><span class="video-title name"><b> {{video.channelName|limit_title}}</b></span></a><br />
                        {% if video.protected and sysSettings.protectionEnabled %}<span class="float-right"><span class="badge badge-info"><i class="fas fa-user-lock"></i> Protected</span></span>{% endif %}<br />
                        <i class="fas fa-podcast mr-2"></i><a href="/channel/{{video.chanID}}/"> {{video.chanchannelName}}</a>
                        <span class="float-right date"><i class="fas fa-calendar-alt mr-2"></i> {{video.videoDate|normalize_date}}</span><br />
                        <i class="fas fa-user mr-2"></i><a href="/streamer/{{video.owningUser}}"> {{video.username}} </a>
                        <span class="float-right"><i class="fas fa-hashtag mr-2"></i><a href="/topic/{{video.topic}}/"> <span class="topic"> {{video.topic|get_topicName}}</span></a></span><br />
                        <i class="fas fa-thumbs-up mr-2"></i> <span class="upvotes"> {{video.NupVotes}} </span>
                        <i class="fas fa-eye mx-2"></i> <span class="views">{{video.views}}</span>
                        <i class="fas fa-comments mx-2"></i> {{video.id|get_Video_Comments}}
                    
                        <span class="float-right length"><i class="fas fa-clock mr-2"></i> {{video.length|hms_format}}</span>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}

{% if clipsList %}
<div class="container-fluid p-2" id="index-clips-container">
    <div class="row mx-2">
        <div id="clipList" class="col-lg col-xs-12 col-sm-12">
           <div class="row">
                <div class="col-12 col-md-10 col-lg-11">
                    <div class="index-video-title"><b>Clips</b></div>
                </div>
                <div class="col-12 col-md-2 col-lg-1">
                    <span class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle shadow" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-sort"></i> Sort
                        </button>
                        <div class="dropdown-menu shadow" aria-labelledby="dropdownMenuButton">
                            <span class="sort dropdown-item" data-sort="name">Sort by Name</span>
                            <span class="sort dropdown-item" data-sort="upvotes">Sort by Upvotes</span>
                            <span class="sort dropdown-item" data-sort="views">Sort by Views</span>
                            <span class="sort dropdown-item" data-sort="length">Sort by Length</span>
                            <span class="sort dropdown-item" data-sort="date">Sort by Date</span>
                        </div>
                    </span>
                </div>
            </div>
            <ul class="itemList list d-flex flex-wrap justify-content-start">
                {% for clip in clipsList %}
                <li class="video-card bg-dark mx-4" style="max-width: 20rem;">
                    <div class="video-card-header">
                        <a href="/clip/{{clip.id}}">
                            <img class="shadow {% if clip.gifLocation != None %}gif{% endif %} lazy" src="/static/img/video-placeholder.jpg" width="100%" data-src="/videos/{{clip.thumbnailLocation}}" onerror="this.src='/static/img/video-placeholder.jpg';">
                        </a>
                    </div>
                    <div class="video-card-body">
                        <i class="fas fa-tv mr-2"></i><a href="/clip/{{clip.id}}"><span class="video-title name"><b> {{clip.clipName|limit_title}}</b></span></a><br />
                        <span class="float-right"><span class="badge badge-secondary ml-2"><i class="fas fa-user-lock"></i> Clip</span></span>{% if clip.protected and sysSettings.protectionEnabled %}<span class="float-right"><span class="badge badge-info"><i
                                    class="fas fa-user-lock"></i> Protected</span></span>{% endif %}<br />
                        <i class="fas fa-podcast mr-2"></i><a href="/channel/{{clip.chanID}}/"> {{clip.channelName}}</a>
                        <span class="float-right date"><i class="fas fa-calendar-alt mr-2"></i> {{clip.videoDate|normalize_date}}</span><br />
                        <i class="fas fa-user mr-2"></i><a href="/streamer/{{clip.chanID}}"> {{clip.username}} </a>
                        <span class="float-right"><i class="fas fa-hashtag mr-2"></i><a href="/topic/{{clip.topic}}/"> {{clip.topic|get_topicName}}</a></span><br />
                        <i class="fas fa-thumbs-up mr-2"></i><span class="upvotes"> {{clip.NupVotes}}</span>
                        <i class="fas fa-eye mx-2"></i><span class="views"> {{clip.views}}</span>
                        <span class="float-right length"><i class="fas fa-clock mr-2"></i> {{clip.length|hms_format}}</span>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}

{% if not recordedVids and not userChannels and not openStreams and not channelData and not clipsList %}
<div class="container-fluid p-2" id="index-null-container">
    <div class="row m-2">
        <div class="col">
            <p>Nothing to see here.</p>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" charset="utf-8">
  var conn_options = {
    'sync disconnect on unload': true
  };

  var socket = io();
</script>

<script>
function toggleChannelSub(chanID) {
    socket.emit('toggleChannelSubscription', { channelID: chanID });
}
</script>
<script>

socket.on('sendChanSubResults', function (msg) {
    var subButton = document.getElementById('chanSubStateButton');
    if (msg['state'] === true) {
        subButton.innerHTML = "<i class='fas fa-star'></i> Unsubscribe";
        subButton.className = "btn btn-success";
    } else {
        subButton.innerHTML = "<i class='far fa-star'></i> Subscribe";
        subButton.className = "btn btn-outline-secondary";
    }
  });
</script>

<script>
    streamListOptions = {
        valueNames: ['name', 'upvotes', 'views', 'liveviews', 'topic']
    };

    videoListOptions = {
        valueNames: ['name', 'upvotes', "views", "length", "date"]
    };

    clipListOptions = {
        valueNames: ['name', 'upvotes', "views", "length", "date"]
    };

    channelListOptions = {
        valueNames: ['name', 'subs', "views", "topic"]
    };

    var recordedVideosList = new List('recordedVideoList', videoListOptions);
    var clipList = new List('clipList', clipListOptions);
    var channelList = new List('channelList', channelListOptions);
    var streamList = new List('streamList', streamListOptions);
</script>

{% endblock %}