<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="manifest" href="/static/site.webmanifest">

    <!-- CSS Imports -->
    <link rel=stylesheet type=text/css href="/static/css/shared.css">
    <link rel=stylesheet type=text/css href="/static/css/slider.css">
    <link rel=stylesheet type=text/css href="/static/css/range.css">
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/all.css">
    <link href="/static/vendor/bootstrap-toggle/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/vendor/dropzone/css/basic.min.css" />
    <link rel="stylesheet" href="/static/vendor/dropzone/css/dropzone.min.css" />
    <link rel="stylesheet" href="/static/vendor/easymde/css/easymde.min.css">
    <link rel="stylesheet" type=text/css href="/static/css/Defaultv3/theme.css">
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/all.css">

    <!-- Javascript Dependency Imports -->
    <script src="/static/vendor/socketio/js/socket.io.js"></script>
    <script src="/static/vendor/jquery/js/jquery-3.5.1.min.js"></script>
    <script src="/static/vendor/lazyload/js/lazyload.min.js"></script>
    <script src="/static/vendor/easymde/js/easymde.min.js"></script>
    <script src="/static/vendor/popper/js/popper.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/vendor/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
    <script src="/static/vendor/dropzone/js/dropzone.min.js"></script>
    <script src="/static/vendor/listjs/js/list.min.js"></script>

    {% block head %}
    {% endblock %}
</head>
<body>
<!-- Left Navbar -->
<div id="navbar" class="osp-navbar box-shadow-r" onmouseover="showNav();" onmouseout="hideNav();">
    <!-- Top Navbar Navigation -->
    <div class="navbar-top">
        <div class="nav-general">
            <!-- Site Logo and Name Block -->
            <div class="navbar-logo">
                <a href="/"><img src="{{sysSettings.systemLogo}}" alt={{sysSettings.siteName}} Logo"" align="left"></a>
                <span class="logo-description">
                    <span class="logo-name">{{sysSettings.siteName}}</span>
                    <!-- Navbar Pinning -->
                    <span class="navbar_pin"><i id="navbar_pin_button" class="fas fa-dot-circle" onclick="toggle_navbar_pin();"></i></span>
                </span>
            </div><br>
            <!-- Visitor Navigation Block -->
            <a href="/channel"><div class="navbar-button"><i class="fas fa-tv"></i><span class="navbar-description">Channels</span></div></a>
            <a href="/topic"><div class="navbar-button"><i class="fas fa-hashtag"></i><span class="navbar-description">Topics</span></div></a>
            <a href="/streamer"><div class="navbar-button"><i class="fas fa-users"></i><span class="navbar-description">Streamers</span></div></a>
        </div>
        <br>
        {% if current_user.has_role('Streamer') %}
        <div class="nav-streamer">
            <a href="/settings/channels"><div class="navbar-button"><i class="fas fa-video"></i><span class="navbar-description">My Channels</span></div></a>
            {% if sysSettings.allowUploads == True %}
                {% if current_user.has_role('Uploader') %}
                    <a href="#" data-toggle="modal" data-target="#uploadModal"><div class="navbar-button"><i class="fas fa-upload"></i><span class="navbar-description">Upload</span></div></a>
                {% endif %}
            {% endif %}
            <br>
        </div>
        {%  endif %}
        {% if current_user.has_role('Admin') %}
        <div class="nav-admin">
            <a href="/settings/admin"><div class="navbar-button"><i class="fas fa-server"></i><span class="navbar-description">Admin</span></div></a>
        </div>
        {%  endif %}
    </div>
    <!-- Bottom Bar -->
    <div class="navbar-bottom">
        {% if current_user.is_authenticated == True %}
        <!-- Logged in User Bottom Bar -->
        <div class="nav-user-loggedin">
            <a href="/notifications">
                <div class="navbar-button">
                    {% if notifications|count < 1 %}
                        <i class="fas fa-bell"></i>
                    {% else %}
                        <span class="badge badge-danger" id="notificationCountNav">{{notifications|count}}</span>
                    {% endif %}
                    <span class="navbar-description"> Notifications</span></div></a>
            <a href="/settings/user"><div class="navbar-button"><i class="fas fa-cog"></i><span class="navbar-description">Settings</span></div></a>
            <hr>
            <!-- User Pic and Username -->
            <div class="userinfo">
                <img src="/images/{{current_user.pictureLocation}}" alt="UserPicture" onerror="this.src='/static/img/user2.png';">
                <span class="user-description-box">
                    <span class="user-description">
                        <span class="username">{{current_user.username}}</span>
                        <a href="/logout"><span class="logout-button"><i class="fas fa-sign-out-alt"></i></span></a>
                    </span>
                </span>
            </div>
        </div>
        {% else %}
        <!-- Logged Out User Bottom Bar -->
        <div class="nav-user-loggedout">
            <a href="/login"><div class="navbar-button">
                <i class="fas fa-sign-in-alt"></i>
                <span class="navbar-description">Login {% if allowRegistration == True %}/ Register{% endif %}</span>
            </div></a>
        </div>
        {% endif %}
    </div>

</div>
<div class="osp-content">

    <!-- Maintenance Mode Alert Box -->
    {% if sysSettings.maintenanceMode == True %}
        <div class="alert alert-secondary m-2" role="alert">
            Server is in Maintenance Mode!
        </div>
    {% endif %}

    <!-- Loading Spinner -->
    <div id="loading-spinner" class="spinner-overlay">
      <div class="spinner"></div>
    </div>

{% block body %}
{% endblock %}
</div>
<!-- Start Modals -->

{% block modals %}
{% endblock %}

<!-- Upload Video Modal -->
{% if current_user.has_role("Uploader") %}
  <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <form id="uploadform" action="/upload/video-details" enctype=multipart/form-data method="post">
          <div class="modal-header">
            <h5 class="modal-title" id="moveModalTitle">Upload a video</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="canceluploads()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Video Metadata Input Block (Title, Channel, Topic) -->
            <div class="form-group">
              <label for="videoTitle">Title</label>
              <input class="form-control" id="videoTitle" name="videoTitle">
            </div>
            <div class="form-group">
              <label for="uploadToChannelID">Channel</label>
              <select name="uploadToChannelID" class="form-control" required>
                {% if ownedChannels != None %}
                    {% for chan in ownedChannels %}
                        <option value="{{chan.id}}">{{chan.channelName}}</option>
                    {% endfor %}
                {% endif %}
              </select>
            </div>
            <div class="form-group">
              <label for="uploadTopic">Topic</label>
              <select name="uploadTopic" class="form-control" required>
                {% for topic in uploadTopics %}
                <option value="{{topic.id}}">{{topic.name}}</option>
                {% endfor %}
              </select>
            </div>

            <!-- Thumbnail Upload Block -->
            <span>Thumbnail <span id="thumbnailuploadstatus"></span></span>
            <!-- hidden dropzone -->
            <div class="dropzone" id="thumbnaildropper" enctype="multipart/form-data"></div>
            <div class="form-group row">
              <div class="col-2 my-auto">
                <button id="thumbnailuploadbutton" type="button" class="btn btn-sm btn-primary">Browse</button>
              </div>
              <div class="col-10">
                <input class="form-control pl-2 form-control" id="thumbnailFilenameDisplay" name="thumbnailFilename" placeholder="Filename" disabled />
                <input type="hidden" class="form-control pl-2 form-control" id="thumbnailFilename" name="thumbnailFilename" placeholder="Filename" />
              </div>
            </div>
            <div class="progress progress-striped active mb-2" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
              <div id="thumbnailuploadprogress" class="progress-bar progress-bar-success bg-success" style="color: white; width:0%;" data-dz-uploadprogress></div>
            </div>

            <!-- Video Upload Block -->
            <span>Video file <span id="videouploadstatus"></span></span>
            <!-- hidden dropzone -->
            <div class="dropzone" id="videodropper" enctype="multipart/form-data"></div>
            <div class="form-group row">
              <div class="col-2 my-auto">
                <button id="videouploadbutton" type="button" class="btn btn-sm btn-primary">Browse</button>
              </div>
              <div class="col-10">
                <input class="form-control pl-2 form-control" id="videoFilenameDisplay" name="videoFilename" placeholder="Filename" disabled />
                <input type="hidden" class="form-control pl-2 form-control" id="videoFilename" name="videoFilename" placeholder="Filename" />
              </div>
            </div>
            <div class="progress progress-striped active mb-2" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
              <div id="videouploadprogress" class="progress-bar progress-bar-success bg-success" style="color: white; width:0%;" data-dz-uploadprogress></div>
            </div>

            <div class="form-group">
              <label for="videoDescription">Video description</label>
              <textarea class="form-control" id="videoDescription" name="videoDescription" rows="3"></textarea>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="canceluploads()">Cancel</button>
            <button id="uploadbutton" type="submit" class="btn btn-success" disabled>Upload</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endif %}

<!-- Start Bottom Script Imports -->
<script src="/static/js/ui.js"></script>
{% if current_user.has_role("Uploader") %}
<script src="/static/js/uploadvideo.js"></script>
{%  endif %}

{% block scripts %}
{% endblock %}
</body>
</html>