:root {
    --navbar-width: 300px;
    --navbar-icon-fontsize: 18px;
}

body {
    color: white;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    background-color: #474747;
}

.dropzone {
    display: none;
}

.CodeMirror {
    background-color: lightgray;
}

.editor-toolbar button {
    color: white;
}

.modal-content {
    background-color: #343a40;
}

.card {
    background-color: #212529;
}

.osp-navbar {
    width: var(--navbar-width);
    height: 100%;
    background-color: black;
    position:fixed;
    top: 0;

    left: 0;
    display:flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    z-index: 99;
    transition: width 0.25s ease 0s;
}

.osp-navbar a {
    text-decoration: none;
    color: #cccccc;
    cursor: pointer;

}

.osp-navbar a:hover {
    color: #ffffff;
}

.osp-navbar hr {

    margin: 15px 15px 15px 15px;
    border-top: rgba(141,141,141,.25);
}
.osp-navbar .navbar-logo {
    margin-left: 6px;
    margin-bottom: 5px;
}

.osp-navbar .navbar-logo .logo-description {
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: normal;
    position: relative;
    top: 14px;
    display: flex;
    justify-content: space-between;
}

.osp-navbar .navbar-logo .logo-description .logo-name {
    margin-left:11px;
}
.osp-navbar .navbar-logo .logo-description .navbar_pin {
    margin-right:10px;
}

.osp-navbar .navbar-logo img {
    width: 52px;

}

.osp-navbar .navbar-top {
}

.osp-navbar .navbar-bottom {
    margin-top: auto;
    margin-bottom: 10px;
    color: #cccccc;
}

.osp-navbar .navbar-bottom .nav-user-loggedin {

}

.osp-navbar .userinfo img {
    border-radius: 50%;
    width: 40px;

    margin-left: 13px;
    display: block;
    float: left;
}

.osp-navbar .user-description-box {
    margin-left: 16px;
}

.osp-navbar .user-description-box .user-description {
    font-size: var(--navbar-icon-fontsize);
    text-transform: uppercase;
    font-weight: normal;
    position: relative;
    top: -12px;
    display: flex;
    justify-content: space-between;
}

.username {
    margin-left: 16px;
}

.logout-button {
    margin-right: 12px;
}

.osp-content {
    margin-right: var(--navbar-width);
    height: 100%;
    position: relative;
    left: var(--navbar-width);
    z-index: 1;
}

.box-shadow-r {
    box-shadow: 0 5px 6px black;
}

.navbar-button {
    margin: 8px 0 8px 15px;
    font-size: var(--navbar-icon-fontsize);
}

.navbar-button i {
    text-align: center;
    width: 35px;
}

.navbar-button .badge {
    margin-left: 9px;
}

.navbar-description {
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: lighter;
}

.server-announcement {
  background-color: #383838;
  margin: 20px var(--navbar-width) 10px 30px;
  border-radius: 5px;
  min-height: 200px;
}

.server-announcement-header {
  padding: 10px;
  width:100%;
  background-color: #606060;
  color:white;
  font-size: 22px;
  text-shadow: 2px 1px 5px #000000;
  border-radius: 5px 5px 0 0;
}

.server-announcement-data {
  padding: 10px;
  color:white;
  font-size: 18px;
}

.info-box {
  width: 95%;
  background-color: #383838;
  margin: 20px;
  border-radius: 5px;
  min-height: 200px;
  color:white;
}

.info-box h2 {
  text-shadow: 2px 1px 5px #000000;
}

.user-info-bar {
  background-color: #383838;
  border-radius: 5px;
  min-height: 200px;
}

.user-info-bar-header {
  padding: 10px;
  width:100%;
  background-color: #606060;
  color:white;
  font-size: 22px;
  text-shadow: 2px 1px 5px #000000;
  border-radius: 5px 5px 0 0;
}

.user-info-bar-header .user-img {
  width: 52px;
  height: 52px;
  float: left;
}

.user-info-bar-header .user-title {
  font-size: 18px;
  vertical-align:top;
  line-height:24px;
  font-size: 22px;
  display: block;
  padding-left:65px;
}

.user-info-bar-header .user-title .user-title-buttons {
  margin: 10px auto 10px;
}

.user-info-bar-data {
  padding: 10px;
  color:white;
}

.no-hover {
  pointer-events: none;
}

.box-shadow-light {
    box-shadow: 1px 2px 6px black;
}
/* Video List and Card */
.index-video-title {
    font-size:1.35em;
    width: 100%;
}

.itemList {
    padding-left: 0;
}

.displayCard {
    width: 310px;
    margin-bottom:15px;
    list-style-type:none;
}

.displayCard a {
    color: white;
}

.displayCard a:hover {
    text-decoration: none;
}

.displayCard .displayCard-thumbnail img {
    width: 310px;
    height: 175px;
    object-fit: contain;
    overflow: hidden;
    background-color: black;
}

.displayCard .video-badges {
  position: relative;
  top:30px;
  height: 30px;
  margin-top: -30px;
}

.displayCard .displayCard-counts {
  position: relative;
  background-color: rgba(40, 40, 40, 0.65);
  top:-25px;
  height:25px;
}

.displayCard .displayCard-counts i {
  color:#1D60DB;
}

.displayCard .card-data {
    width:100%;
    height: 50px;
    font-size:1.15em;
    position: relative;
    top: -10px;
}

.displayCard-other {
    width: 600px;
    margin-bottom:15px;
}

.displayCard-other a {
    color: white;
}

.displayCard-other a:hover {
    text-decoration: none;
}

.displayCard-other img {
    width: 275px;
    height: 155px;
    object-fit: contain;
    overflow: hidden;
    background-color: black;
    float: left;
}

.displayCard-other .card-data {
    margin-left:18px;
    float: left;
    font-size:1em;
}

.displayCard-other .card-data .displayCard-footer {
    font-size:1em;
    position:relative;
    left: -10px;
    top: 40px;
}

.card-data img {
  width:48px;
  height:48px;
  float:left;
}

.card-data .metadata {
  position:relative;
  top:-2px;
  left: 10px;
  height:18px;
  margin-bottom:-18px;
}

.video-page-content {
    padding-left: 40px;
}

.content_column {
    margin-top: 20px;
}

.metadata-panel {
    background-color: #676363;
    border: 0 black solid;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    z-index: 50;
}

.metadata-panel .index-video-title, .index-video-date, .index-video-topic {
    text-shadow: 0 1px 4px black;
}
.metadata-panel .upvoteVideoContainer, .subscriptionContainer {
    float: right;
    position: relative;
    top: 25%;
}

.metadata-panel .upvoteVideoContainer button {
    width: 125px;
}

.metadata-panel .subscriptionContainer button {
    width: 125px;
}

.metadata-panel .index-channel-name {
    font-size: 1.25em;
    text-shadow: 0 1px 4px black;
}

.metadata-subpanel {
    position: relative;
    top: -5px;
    background-color: #2e3132;
    border: 0 black solid;
    border-radius: 0 0 5px 5px;
    width: 100%;
    margin-bottom: 5px;
    z-index: 1;
    padding: 5px 10px 5px 10px;
}

.channel-metadata-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.channel-metadata .userPhoto {
    margin-left: -10px;
    margin-right: 10px;
    border: 0 solid black;
    border-radius: 100px;
    width: 56px;
}

.video-buttons-row {
    margin-top: 4px;
    width: 100%;
}

.video-buttons-row .index-video-views {
    margin-top: 8px;
}

.comments_column {
    background-color: #141212;
}

.comments_column .index-comments-title {
    text-shadow: 0 2px 5px black;
    font-size: 1.25em;
    width: 100%;
    background-color: #847979;
    text-align: center;

}

.comment {
    background-color: #454B53;
    border: 0 black solid;
    width: 100%;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.comment-user-img {
    width: 32px;
    height: 32px;
    border-radius: 200px;
    margin-left: auto;
    margin-right: auto
}

.verfiedIcon {
    width: 30px !important ; 
    height: 30px !important;
    padding:0px !important;
    margin:0px !important;
}